<div>
  <app-main-page-caroussel> </app-main-page-caroussel>
  <div class="content__pictures">
    <mat-grid-list cols="8" rowHeight="1:1" gutterSize="4px">
      @for (picture of arr; track picture.id) {
      <mat-grid-tile class="picture">
        <div class="picture__container">
          <img
            class="picture__img"
            src="{{ picture.url }}"
            (click)="navigateToImage(picture.id)"
          />
          <div class="picture__name">{{ picture.name }}</div>
        </div></mat-grid-tile
      >
      }
    </mat-grid-list>
  </div>
</div>
