<div class="header">
  <div class="header__logo">OSMB</div>
  <div class="header__container">
    <button mat-raised-button>Explore</button
    ><button mat-raised-button>Liked Content</button>
  </div>
  <div class="search_form">
    <div class="search_form__wrapper">
      <form>
        <input class="search_form__wrapper__input" value="Sushi" />
      </form>
    </div>
  </div>
  <div class="header__container">
    <button mat-raised-button><mat-icon>edit</mat-icon>Sign In</button
    ><button mat-raised-button><mat-icon>login</mat-icon>Sign Up</button>
  </div>
  <div class="header__container">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</div>
