.header {
  display: flex;
  width: 100%;
  background-color: #490b23;
  height: 60px;
  padding: 1em;
  align-items: center;
  gap: 20px;
}
.p-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.header__logo {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
.header__container {
  display: flex;
  gap: 8px;
}
.search_form {
  flex-grow: 1;
  height: 48px;
}
.search_form__wrapper {
  display: flex;
  height: 48px;
  width: 100%;
  border: 1px solid #f2ae30;
  border-radius: 40px;
  form {
    height: 100%;
    width: 100%;
  }
}
.search_form__wrapper__input {
  width: 100%;
  padding: 0 24px 0 24px;
  background-color: transparent;
  border: none;
  height: 48px;
  font-size: 1.1rem;

  color: #ffabf3;
}
